doctype html
html(lang="en")
head
  title Cograph | #{user.local.email}
  meta(charset='utf-8')
  link(href='/assets/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
  link(href='/assets/libs/fontawesome/css/font-awesome.min.css', rel='stylesheet')
  link(href='/assets/stylesheets/custom-bootstrap-theme.css', rel='stylesheet')
  link(href='/assets/stylesheets/general.css', rel='stylesheet')  
  link(href='/assets/stylesheets/nav.css', rel='stylesheet') 
  base(href="/")
  script(type='text/javascript', data-main="landing", src="/assets/libs/requirejs/require.js") //loads landing.js
  script.
    window.prefetch =!{JSON.stringify(docs)};

  body
    include nav
    .container.pad-top
      .col-sm-6.col-sm-offset-3
        br
        h2
          |  Account
        if message && message.length > 0
          if messageType!=undefined && messageType==1
            .alert.alert-success #{message}
          else 
            .alert.alert-danger #{message}
        form(action='/account', method='post')
          .form-group
            label Email
            input.form-control(type='email', name='email' value='#{user.local.email}')
          .form-group
            label Username
            input.form-control(type='text', name='name'  value='#{user.local.name}', disabled)
          .form-group
            label Old Password
            input.form-control(type='password', name='oldPassword')
          .form-group
            label New Password
            input.form-control(type='password', name='newPassword')
          button.btn.btn-info.pull-right.btn-lg(type='submit') Save