nav.navbar.navbar-default(role='navigation')
    .container-fluid
        .navbar-header
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='#gdocs-nav')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img#brand-logo(src="/assets/images/brand-b.png")
          
        span.navbar-doc-title
          if !isOwner
            a(href="/#{theDocument.createdBy}") @#{theDocument.createdBy}
            span  :  
          span.dropdown
            if isOwner
              a.public-button-display.clickable(title="who can see this graph") 
            a.dropdown-toggle.clickable(data-toggle='dropdown' id="graph-title")
              span#menu-title-display #{theDocument.name} 
              i.fa.fa-angle-down
            ul.dropdown-menu#menu-title-dropdown(aria-labelledby="graph-title")
              if isOwner
                li
                  a#analytics-button(href="" data-toggle="modal")
                    span Stats
                    i.fa.fa-signal.pull-right
                li 
                  a#settings-button(href="" data-toggle="modal")
                    span Settings
                    i.fa.fa-cogs.pull-right

        #gdocs-nav.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li#phantom-share
            li
              a.clickable#sharing-toggle(type="button")
                | Share
            li
              a.dropdown-toggle.clickable(data-toggle='dropdown' id="view-title") 
                | Views 
                i.fa.fa-angle-down
              ul.dropdown-menu#import-title-dropdown(aria-labelledby="view-title")
                li
                  a#workspaces-button(href="" data-toggle="modal")
                    span Open View
                    i.fa.fa-folder-open-o.pull-right
                li
                  a#save-workspace-button(href="" data-toggle="modal")
                    span Save View
                    i.fa.fa-save.pull-right    
            if isOwner
              li#maybe-publish-button
              li.dropdown
                a.dropdown-toggle.clickable(data-toggle='dropdown' id="import-title") 
                  b
                    | Import
                    i.fa.fa-angle-down
                ul.dropdown-menu#import-title-dropdown(aria-labelledby="import-title")
                  li
                    a#twitter-button(href="" data-toggle="modal") 
                      span Twitter
                      i.fa.fa-twitter.pull-right
                  li
                    a#evernote-button(href="" data-toggle="modal")
                      span Evernote
                      i.fa.fa-book.pull-right
            if isAuthenticated
              li
                a(href="/#{user.local.nameLower}") @#{user.local.name}
            else
              li
                a(href="/login") Login
