nav.navbar.navbar-default(role='navigation')
    .container-fluid
        .navbar-header
          button.navbar-toggle(type='button' data-toggle='collapse' data-target='#gdocs-nav')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img#brand-logo(src="/assets/images/brand-b.png")
          
        span.navbar-doc-title
          if !isOwner
            a(href="/#{theDocument.createdBy}") @#{theDocument.createdBy}
            span  :  
          span.dropdown
            if isOwner
              a.public-button-display.clickable(title="who can see this graph") 
            //- else 
            //-   span.public-button-display(title="who can see this graph") 
            a.dropdown-toggle.clickable(data-toggle='dropdown' id="graph-title")
              span#menu-title-display #{theDocument.name}
              i.caret
            ul.dropdown-menu#menu-title-dropdown(aria-labelledby="graph-title")
              li
                a#workspaces-button(href="" data-toggle="modal")
                  span Open View
                  i.fa.fa-folder-open-o.pull-right
              li
                a#save-workspace-button(href="" data-toggle="modal")
                  span Save View
                  i.fa.fa-save.pull-right
              if isOwner
                li
                  a#analytics-button(href="" data-toggle="modal")
                    span Stats
                    i.fa.fa-signal.pull-right
                li 
                  a#settings-button(href="" data-toggle="modal")
                    span Settings
                    i.fa.fa-cog.pull-right

        #gdocs-nav.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li#phantom-share
            li
              a.clickable#sharing-toggle(type="button")
                | Share
            if isOwner
              li#maybe-publish-button
            if isAuthenticated
              li#newgraph-icon
                a(href="/new" target="_blank" title="new graph")
                  img(src="/assets/images/newgraph.png")
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown', href='')
                  | @#{user.local.name}
                  i.caret
                ul.dropdown-menu
                  li(role="presentation")
                    a(href="/#{user.local.name}") My Cographs
                  li(role="presentation")
                    a(href="/account") Account
                  li
                    a(href="/logout") Logout
            else
              li
                a(href="/login") Login
