doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Cograph
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(href='assets/libs/iconset/flaticon.css', rel='stylesheet', type='text/css')
    link(href='assets/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='assets/stylesheets/custom-bootstrap-theme.css', rel='stylesheet')
    link(href='assets/stylesheets/general.css', rel='stylesheet')
    link(href='assets/stylesheets/index-logged-in.css', rel='stylesheet')
    link(href='/assets/stylesheets/nav.css', rel='stylesheet')

  body
    include nav
    .container.main-content
      .row
        .col-md-12
          h3 Published Cographs
          br
          .document-list
            for doc in docs
              a.list-group-item(href="/#{doc.createdBy}/document/#{doc.id}" target="_blank")
                | #{doc.name}
                a.pull-right.text-muted.link-badge(href="/#{doc.createdBy}") by @#{doc.createdBy}
          br
          h3 What are Cographs?
          h3.full-size
            strong Cographs are webs of ideas that you can create, explore and publish.
          br
          h3 Why should I use graphs?
          h3.full-size
            strong Graphs are great for connected information.
      hr
      h3.header-titles What can I do with Cograph?
      .row
        .col-xs-12.col-md-4.benefit
          .benefit-ball
            i.flaticon-idea13
          h3 
            strong Add
          p Create and connect information across the web

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-cell9
          h3 
            strong Connect
          p Create connections between things and label connections

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-teamwork
          h3 
            strong Collaborate
          p Edit graphs in real time with others.
      .row
        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-earth180
          h3 
            strong Explore
          p Filter, search and tag your graphs or expand connections. 

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-rating
          h3 
            strong Share
          p Share graphs to your favorite social media and decide who can contribute to them

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-code26
          h3
            strong Embed
          p Add graphs to your website or blog posts

      h3.header-titles We're in Beta. Our Next Features are
      .row
        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-rocket60
          h3 
            strong API
          p Post and get data to cograph

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-cells1
          h3 
            strong Intergraph
          p Connect between nodes across different graphs.

        .col-md-4.col-xs-12.benefit
          .benefit-ball
            i.flaticon-circular152
          h3 
            strong Faster access
          p Browser extensions to make it faster to connect content
    include footer-logged-in
    script(src='assets/libs/jquery/dist/jquery.min.js')
    script(src='assets/libs/bootstrap/dist/js/bootstrap.min.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38168348-4', 'auto');
      ga('send', 'pageview');