doctype html
html(lang="en")
head
  title Cograph | @#{user.local.name}
  meta(charset='utf-8')
  link(href='/assets/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
  link(href='/assets/libs/fontawesome/css/font-awesome.min.css', rel='stylesheet')
  link(href='/assets/stylesheets/custom-bootstrap-theme.css', rel='stylesheet')
  link(href='/assets/stylesheets/general.css', rel='stylesheet')  
  link(href='/assets/stylesheets/nav.css', rel='stylesheet')
  link(href='/assets/stylesheets/profile.css', rel='stylesheet')   
  base(href="/")
  script(type='text/javascript', data-main="landing", src="/assets/libs/requirejs/require.js") //loads landing.js
  script.
    window.prefetch =!{JSON.stringify(docs)};

  body
    include nav
    .container#profile-container
      .page-header.text-center
        h2
          if ownProfile
            | Hi @#{user.local.name}
          else
            | @#{user.local.name}
      if ownProfile
        .row
          if privateDocs.length == 0 && publicDocs.length == 0
            span
              | You have no cographs. 
              a(href="/new") Create a new cograph
          .col-sm-6
            h3 Your Private Cographs
            .document-list
              for doc in privateDocs
                a.list-group-item(href="/#{user.local.name}/document/#{doc.id}" target="_blank") #{doc.name}
          .col-sm-6
            h3 Your Published Cographs
            .document-list
              for doc in publicDocs
                a.list-group-item(href="/#{doc.createdBy}/document/#{doc.id}" target="_blank")
                  | #{doc.name}
                  a.pull-right.text-muted.link-badge(href="/#{doc.createdBy}") by @#{doc.createdBy}
      else
        .row
          .col-sm-12
            .document-list
              for doc in publicDocs
                a.list-group-item(href="/#{user.local.name}/document/#{doc.id}" target="_blank")
                  | #{doc.name}
                  a.pull-right.text-muted.link-badge(href="/#{doc.createdBy}") by @#{doc.createdBy}
    include footer-logged-in
