doctype html
html(lang="en")
head
  title Cograph #{user.local.name}
  meta(charset='utf-8')
  link(href='/assets/libs/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
  link(href='/assets/libs/fontawesome/css/font-awesome.min.css', rel='stylesheet')
  link(href='/assets/stylesheets/gsdk-base.css', rel='stylesheet')
  link(href='/assets/stylesheets/custom.css', rel='stylesheet')  
  base(href="/")
  script(type='text/javascript', data-main="landing", src="/assets/libs/requirejs/require.js") //loads landing.js
  script.
    window.prefetch =!{JSON.stringify(docs)};

  body
    include profileheader
    .container
      .page-header.text-center
        h1
          if ownProfile
            | My Cographs
          else
            | #{user.local.name}'s Cographs
      .row
        .col-sm-12
          .document-list
            for doc in userDocs
              a.list-group-item(href="#{user.local.name}/document/#{doc.id}" target="_blank") #{doc.name}
            if userDocs.length == 0
              span 
                | You have no cographs. 
                a(href="/new") Create a new cograph